.navbar-container{
    height: 97px;
    padding: -10;
}
.cmpy-icon{
    width: 60px;
    height: 61px;
    top: 58px;
    left: 53px;
    gap: 0px;
    opacity: 0px;
}
.name{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #0F4811;
}
.plants-pots-option{
    margin-top: 15px;
    color: #F3A939;
    text-decoration: underline;
}
.nav-option{
    color: rgb(12, 12, 12);
    background-color: transparent;
    border-width: 0px;
}
li{
    list-style-type: none;
}
.list-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}
.icons{
    text-align: center;
    padding: 10px;
}